.container {
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.painel dd {
    display: inline-block;
    vertical-align: top;
    width: 225px;
    padding-bottom: 10px;
}


.painel figcaption{
    text-align:center
}
