<link rel="stylesheet" href="/css/estilo.css">


@model List<DadosPessoaisViewModel>


    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Lista de Currículos Cadastrados</h2>


    <a href="/Curriculo/NewCurriculo">Novo currículo</a>
    <br />

    <table class="table table-responsive">
        <tr>
            <th>Ações</th>
            <th>Código</th>
            <th>CPF</th>
            <th>Nome</th>
            <th>CEP</th>
            <th>Rua</th>
        </tr>
        @foreach (var dados in Model)
        {
            <tr>
                <td>
                    <a href="/jogo/editar?id=@dados.Id" class="btn btn-info">Alterar</a>
                    <a href="javascript:excluirJogo(@dados.Id)" class="btn btn-danger">Excluir</a>
                </td>
                <td>@dados.Id</td>
                <td>@dados.Cpf</td>
                <td>@dados.Nome</td>
            </tr>
        }
    </table>
