
<header class="container">

    <h1 class="logotipo"><img src="/imagem/logoFTT.png" alt="Mirror Fashion"></h1>


    <nav class="menu-opcoes">
        <ul>
            <li><a href="Curriculo/Menu?id=sobre">Sobre</a></li>
            <li><a href="Endereco/Index?id=ListEndereco">Listar Enderecos</a></li>
            <li><a href="Curriculo/ListarCurriculos">Listar Curriculos</a></li>
        </ul>
    </nav>


</header>

<link rel="stylesheet" href="/css/estilo.css">