<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Sobre </title>
    <link href="~/css/estilo.css" rel="stylesheet" />
</head>

<body>

    <div class="container paineis">

        <section class="painel">
            <dl>

                <dd>
                        <figure>
                            <img src="~/imagem/PerfilExemplo.png">
                            <figcaption>Guilherme</figcaption>
                        </figure>
                </dd>

                <dd>
                        <figure>
                            <img src="~/imagem/PerfilExemplo.png">
                            <figcaption>Lucas</figcaption>
                        </figure>
                </dd>

                <dd>
                        <figure>
                            <img src="~/imagem/PerfilExemplo.png">
                            <figcaption>Roger</figcaption>
                        </figure>
                </dd>
            </dl>
        </section>
    </div>

</body>

</html>
