<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Sobre </title>
    <link href="~/css/estilo.css" rel="stylesheet" />
</head>

<body>

    <div class="container paineis">

        <section class="painel">
            <dl>

                <dd>
                    <figure>
                        <img src="~/imagem/Guilherme.jpg">
                        <figcaption>Guilherme 081190035</figcaption>
                    </figure>
                </dd>

                <dd>
                        <figure>
                            <img src="~/imagem/Lucas.jpg">
                            <figcaption>Lucas 081190015</figcaption>
                        </figure>
                </dd>

                <dd>
                        <figure>
                            <img src="~/imagem/PerfilExemplo.png">
                            <figcaption>Roger 081190026</figcaption>
                        </figure>
                </dd>
            </dl>
        </section>
    </div>

</body>

</html>
